sizes = 12 14 16 18 20 22 24 26

.ql-snow
  &.ql-toolbar
    background-color #fafafa
    border-color #dcdfe6
    border-bottom 1px solid #f2f2f2
    padding 2px 4px
    border-top-left-radius 4px
    border-top-right-radius 4px

    &.on-focus 
      border-color color-theme
      border-bottom-color #f2f2f2

    .icon 
      fill #444

    .ql-import 
      background url('./images/ic_spot.png') center no-repeat
    

    .ql-option
    .ql-question
      width 64px
      background url('./images/ic_question.png') center no-repeat

    .ql-picker-label:hover
    .ql-picker-label.ql-active
    .ql-picker-item:hover
    .ql-picker-item.ql-selected
      color color-theme

      .ql-stroke
        stroke color-theme

    button
      &.ql-active
      &:hover
      &:focus
        .ql-stroke 
          stroke color-theme

        .ql-fill
        .icon 
          fill color-theme
      &:focus
        outline none
  
  .ql-picker
    &.ql-font
      .ql-picker-label
      .ql-picker-item
        &::before
          // 默认
          content '\9ed8\8ba4'

        &[data-value=SimSun]::before
          // 宋体
          content '\5b8b\4f53'
          font-family 'SimSun'

        &[data-value=SimHei]::before
          // 黑体
          content '\9ed1\4f53'
          font-family 'SimHei'

        &[data-value=Microsoft-YaHei]::before
          // 微软雅黑
          content '\5fae\8f6f\96c5\9ed1'
          font-family 'Microsoft YaHei'

        &[data-value=Arial]::before
          content 'Arial'
          font-family 'Arial'

        &[data-value=Cursive]::before
          content 'Cursive'
          font-family Cursive

    &.ql-size
      .ql-picker-label
      .ql-picker-item
        &::before
          content '13'
        
        for size in sizes
          font-size = "'%s'" % size

          &[data-value={font-size}]::before
            content font-size

.ql-font
  &-SimSun
    font-family 'SimSun'
  
  &-SimHei
    font-family 'SimHei'

  &-Microsoft-YaHei
    font-family 'Microsoft YaHei'

  &-Arial
    font-family 'Arial'

  &-Cursive
    font-family Cursive

for size in sizes
  .ql-size-{size}
    font-size '%spx' % size
