color-theme = #38c3a1
font-size = 14px

@import 'quill/dist/quill.snow.css'
@import 'quill-better-table/dist/quill-better-table.css'
@import '../plugin/color-picker/mo.color-picker.css'
@import './modules/*'

.ql-container
  color #333
  border-top none
  border-color #dcdfe6
  border-radius 0 0 4px 4px
  height auto
  overflow hidden
  font-size font-size
  white-space pre-wrap

  &.ql-snow.on-focus 
    border-color color-theme

.ql-editor
  padding 12px
  line-height 20px
  word-break break-all
  -webkit-user-select: text

  &.ql-blank:before 
    left 10px
    right 10px
    color #b2b2b2
    font-size font-size
    font-style normal

  img
    display inline-block
    vertical-align middle
    cursor default
    user-select none

point
  position relative
  margin-bottom 10px
  display inline-block
  text-indent 0 !important

  &:after 
    content ''
    width 0.2em
    height 0.2em
    position absolute
    bottom -5px
    left 50%
    border-radius 50%
    -webkit-transform translate(-50%)
    transform translate(-50%)
    background-color #000

sub-question
sub-option
  display inline-block
  line-height 14px
  border-bottom 1px solid #000
  padding 0 5px
  white-space nowrap

.blot-formatter__overlay 
  pointer-events none
  z-index 1

.blot-formatter__resize-handle 
  pointer-events auto
    